.note-item {
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
}
.note-time-stamp {
  font-style: italic;
}
.note-title {
  font-weight: 600;
}
.note-item-buttons {
  margin-top: 10px;
}
.note-item-buttons button {
  padding: 5px 10px;
  background-color: rgb(2, 127, 223);
  color: white;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
